
.post-icons-container {
	margin-top: 1.2rem;
	display: grid;
	grid-template-columns: 2fr 3fr 3fr 2fr;
}

.post-icons-container i {
	font-size: 1.6rem;
	color: #868383; /* lime on retweet */
	margin-right: 1.5rem;
	transition: color 400ms ease-in;
}

.post-icon span{
	font-size: 1.4rem;
	color: rgb(101, 119, 134);
}

.heart-container{
	display: flex;
	/*margin-top: -1px;*/
}

.heart-container span{
	display: inline-block;
	margin-top: 2px;
}
/* Like button */
.heart {
	/*display: inline-block;*/
	/*Move it slightly down
	position: relative;
	left: 0;
	top: 0.4rem; */

	height: 1.7rem;
	width: 5.5rem;
	background-image:url('../../assets/images/heartAnimation.png');
	background-position: left;
	background-repeat:no-repeat;
	background-size:2900%;
}

.is_animating {
  animation: heart-burst .8s steps(28) 1;
  background-position: right;
}

@keyframes heart-burst {
 from {background-position:left;}
 to { background-position:right;}
}
/* End of like button */

.share-container{
	text-align: right;
	padding-right: 10%;
	margin-top: 1px;
}
.share-container i{
	font-size: 1.5rem;
	opacity: 0.4; /* Because we don't support it yet */
}

@media (max-width: 300px){
	.post-icon span{
		font-size: 1.22rem;
	}
}