
.post-icons-container-page-style{
	& > div{
		padding: 1.4rem 0.5rem;
		border-bottom: 1px solid rgb(235, 240, 242);
	}
}

.stats-container, .time-container{
	font-size: 1.7rem;
}
.time-container, .title{
	color: rgb(101, 119, 134);
}
.stats-container{
	display: flex;
	gap: 1rem;
}
.number{
	font-weight: 650;
}

.icons-container{
	display: flex;
	justify-content: space-around;
	font-size: 2.2rem;
	color: #868383; /* lime on retweet */
}

.heart-page-style {
	width: 7.5rem;
	background-image:url('../../assets/images/heartAnimationTransparent.gif');
	background-position: left;
	background-repeat:no-repeat;
	background-size:2900%;
}

i.fa-retweet.page-style{
	transform: translateX(1.5rem);
}
i.fa-share-alt{
	opacity: 0.3;
}

/* Styles for non-page-sstyle mode */

.post-icons-container {
	margin-top: 1.2rem;
	display: grid;
	grid-template-columns: 3fr 3fr 3fr 2fr;
	transition: opacity 0.5s ease;
}

.disabled{
	opacity: 0.4
}

.post-icons-container i {
	font-size: 1.6rem;
	color: #868383; /* lime on retweet */
	margin-right: 1.2rem;
	transition: color 400ms ease-in;
}

.post-icon span{
	font-size: 1.4rem;
	color: rgb(101, 119, 134);
}

.heart-container{
	display: flex;
	/*margin-top: -1px;*/
}

.heart-container span{
	display: inline-block;
	margin-top: 2px;
}
/* Like button */
.heart {
	/*display: inline-block;*/
	/*Move it slightly down
	position: relative;
	left: 0;
	top: 0.4rem; */

	height: 1.7rem;
	width: 5.5rem;
	background-image:url('../../assets/images/heartAnimationTransparent.gif');
	background-position: left;
	background-repeat:no-repeat;
	background-size:2900%;
}

.is_animating {
  animation: heart-burst .8s steps(28) 1;
  background-position: right;
}

.animated{
	background-position: right;
}

@keyframes heart-burst {
 from {background-position:left;}
 to { background-position:right;}
}
/* End of like button */

.share-container{
	text-align: right;
	padding-right: 10%;
	margin-top: 1px;
}
.share-container i{
	font-size: 1.5rem;
	opacity: 0.4; /* Because we don't support it yet */
}

@media (max-width: 300px){
	.post-icon span{
		font-size: 1.22rem;
	}
}