.wrapper{
	display: flex;
	/*margin: 0 0 2rem 0;*/
	padding: 1rem 0; 
	border-bottom: 0.1rem solid #eee;
	transition: background-color .4s ease;
}
.user-avatar {
	width: 5rem;
	height: 5rem;
	flex-shrink: 0;
	margin: 0.3rem 1.5rem;
}

.user-avatar img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 50%;
	border: 1px solid silver;
}
.top-segment{
	display: flex;
}
.user-content-wrapper{
	width: 77%;
}
.names-container{
	margin-top: 10px;
	width: 65%;
}
.user-full-name-container{
	white-space: nowrap; 
	overflow: hidden;
	text-overflow: ellipsis; 
}

.follow-btn-container{
	text-align: right;
    /*align-items: center;
    justify-content: flex-end;
    margin-right: 5vw;*/
}

.user-full-name-container span{
    color: rgb(20, 23, 26);
    font-weight: 900;
    font-size: 15px;
}
.user-full-name-container i{
	font-size: 1.6rem;
	color: #1aa1f5;
	margin-left: 0.5rem;
}

.user-username-container span{
    color: rgb(101, 119, 134);
    font-weight: 400;
	font-size: 15px;   
}

.user-desc {
	width: 100%;
	font-size: 1.6rem;
	margin-top: 4%;
	margin-bottom: 1rem;
}
