.inroduction-wrapper{
    background-color: white;
    overflow: scroll;
}
.top-segment{
    position: relative;
}
.banner-img-container{
    /* min-height: 19vh; */
    width: 100vw;
}
.profile-img-container{
    height: 21vmin;
    width: 21vmin;
    position: absolute;
    left: 4vw;
    bottom: -8.5vh;
    border: 2px solid white;
    border-radius: 50%;
    background: white;
}
.follow-btn-container{
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 5vw;
}
.profile-details-container{
    padding: 0 15px;
    line-height: 18px;
}
.user-full-name-container span{
    color: rgb(20, 23, 26);
    font-weight: 900;
    font-size: 20px;
}
.user-full-name-container i{
	font-size: 1.6rem;
	color: #1aa1f5;
	margin-left: 0.5rem;
}
.user-username-container span,
.follow-numbers-container .title-span{
    color: rgb(101, 119, 134);
    font-weight: 400;
    font-size: 16px;    
}
.description-container{
    padding: 12px 0;
    font-weight: 400;
    font-size: 16px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", sans-serif;
    line-height: 19px;
}
.fourth-segment{
    line-height: 19px;
}
.fourth-segment div{
    display: inline-block;
    padding-right: 10px;
    font-weight: 400;
    font-size: 16px;
}
.fourth-segment div span{
    color: rgb(101, 119, 134);
}
.fourth-segment div a{
    color:rgb(29,161,242);
    text-decoration: none;
}
.fourth-segment div i{
    color: rgb(101, 119, 134);
    margin-right: 0.5rem;
    font-size: 1.4rem;
}

.follow-numbers-container{
    line-height: 40px;
}
.follow-numbers-container div{
    display: inline-block;
    padding-right: 20px;
}
.follow-numbers-container .numbers-span{
    font-size: 16px;
    font-weight: 700;
    color: rgb(20, 23, 26);
}

@media (max-width: 310px){
    .follow-numbers-container div{
        display: inline-block;
        padding-right: 15px;
    }
}