.post-btn {
    position: fixed;
    bottom: 2rem;
    left: 68%;
    width: 12rem;
    padding: 1.5rem 1rem;
    background-color: #1aa1f5;
    color: #fff;
    font-size: 2rem;
    border: 0.1rem solid #1aa1f5;
    border-radius: 3rem;
    cursor: pointer;
    box-shadow: 0 0.3rem 1rem rgba(0, 0, 0, 0.3);
    transition: background-color 0.3s;
}

.post-btn:hover {
    background-color: #117abb;
}

/* post modal */
.modal-wrapper {
    position: fixed;
    background-color: rgba(178, 178, 178, 0.9);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    visibility: hidden;
    transition: opacity .5s, visibility .5s;
    z-index: 20;
}

.modal-wrapper-display {
    opacity: 1;
    visibility: visible;
}

.modal {
    width: 92%;
    background-color: #fff;
    position: absolute;
    top: 42%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 1.5rem;
    display: none;
}

.modal-header {
    padding: 1.2rem 2.5rem;
    display: flex;
    align-items: center;
    border-bottom: 0.1rem solid #eee;
}

.modal-header i {
    font-size: 2.3rem;
    color: #1aa1f5;
    cursor: pointer;
}

.chars-remain-span{
    margin-left: auto;
    padding-right: 5px;
    font-weight: 600;
}
.validCharRemain{
    color: green;
    font-size: 1.4rem;
}
.dangerCharRemain{
    color: orange;
    font-size: 1.7rem;
}
.invalidCharRemain{
    color: red;
    font-size: 2rem;
}

.publish-btn{
    /* margin-left: auto; */
    width: 8rem;
    padding: 0.8rem 0.5rem;
    background-color: #1aa1f5;
    color: #fff;
    font-size: 1.6rem;
    border: 0.1rem solid #1aa1f5;
    border-radius: 3rem;
    opacity: 0.5;
}

.btnEnabled{
    opacity: 1;
}

.modal-body {
    display: flex;
    padding: 1.5rem 1rem 0.5rem 1rem;
}

.modal-img {
    width: 4rem;
    height: 4rem;
    margin-right: 1.5rem;
    flex-shrink: 0;
}

.modal-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.modal-input {
    width: 53rem;
    padding: 1rem 0 8rem 1rem;
    background-color: #d6e1e9;
    border: 0.1rem solid #eee;
    border-radius: 1.5rem;
    font-size: 1.6rem;
    resize: none;
}

.modal-input:focus {
    background-color: #fff;
    border-color: #1aa1f5;
}

.modal-body i {
    position: absolute;
    bottom: 7rem;
    right: 2.8rem;
    font-size: 2rem;
    color: #1aa1f5;
}

.modal-footer {
    padding: 0 2rem 1.2rem 8rem;
}

.modal-icons {
    display: flex;
    align-items: center;
}

.modal-icons i {
    margin-right: 2rem;
    font-size: 2.7rem;
    color: #1aa1f5;
}

.modal-icons span {
    margin-left: auto;
    font-size: 5rem;
    width: 4rem;
    height: 4rem;
    border: 0.1rem solid #1aa1f5;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #1aa1f5;
    opacity: 0.5;
}
/* end of post modal */
